<footer>
  <div class="footer-top">
    <div class="footer-info">
      <div class="footer-logo">
        <img src="/images/logo-white.png" alt="Maori Incorporadora" height="40">
      </div>
      <div class="footer-address">
        Rua Capitão Souza Franco, 326<br>
        Curitiba | PR | Brasil
      </div>
      <div class="footer-social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <div class="footer-links">
      <h3>Páginas</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sobre/">Sobre nós</a></li>
        <li><a href="/projetos/">Empreendimentos</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/trabalhe-conosco/">Trabalhe conosco</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <h3>Contato</h3>
      <ul>
        <li><a href="#" onclick="openWhatsApp('Olá! Gostaria de falar com a Maori.')"><img src="/images/whatsapp-white.svg" alt="WhatsApp" class="whatsapp-icon-small"> (41) 99569-8089</a></li>
        <li><a href="#" onclick="openWhatsApp('Olá! Tenho um terreno e gostaria de conversar sobre venda.')">Compramos seu Terreno</a></li>
        <li><a href="/fale-conosco/">Fale Conosco</a></li>
      </ul>
    </div>

    <div class="footer-newsletter">
      <h3>Newsletter</h3>
      <p>Receba novidades, lançamentos e ofertas exclusivas da Maori.</p>
      <form class="newsletter-form">
        <input type="email" class="newsletter-input" placeholder="Seu e-mail">
        <button type="submit" class="newsletter-button">
          <i class="fas fa-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© Maori Construtora e Incorporadora 2023. Todos os direitos reservados.</p>
  </div>
</footer>
